*.key
*.cert
*.pem
/certificate*
/gremlin-manifests/gremlin-conf.yaml

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
